/* Googlefont Poppins CDN Link */
@font-face {
  font-family: Averta-bold;
  src: url(../font/averta/Intelligent\ Design\ -\ AvertaStdCY-Bold_1.otf);
}
@font-face {
  font-family: Averta-regular;
  src: url(../font/averta/Intelligent\ Design\ -\ AvertaStdCY-Regular_3.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta-bold;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding-top: 11rem;
}

.esb-primary-btn {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Gradient-2, linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%));
  box-shadow: 0px 4px 5.8px 0px rgba(237, 72, 41, 0.3);
}
.esb-primary-btn div {
  color: #fff;
  font-size: 1.8rem;
}

.esb-second-btn {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--Gradient-2, #f37b20);
  background: var(--Primary-300, #fdeee9);
}
.esb-second-btn div {
  font-size: 1.8rem;
  background: var(--Gradient-2, linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.esb-title {
  color: var(--Primary-800, #ef5627);
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
header .over-nav {
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  height: 4rem;
}
header .over-nav .container {
  display: flex;
  gap: 2rem;
  align-items: center;
  line-height: 4rem;
  color: #fff;
}
header .over-nav .container .hotline,
header .over-nav .container .consulting {
  font-size: 1.4rem;
}
header .over-nav .container .hotline span,
header .over-nav .container .consulting span {
  background-color: #fff;
  padding: 0.4rem 1.6rem;
  margin-left: 0.8rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
header .over-nav .container .hotline span a,
header .over-nav .container .consulting span a {
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .over-nav .container .hotline span a img,
header .over-nav .container .consulting span a img {
  margin-right: 0.8rem;
}
header .over-nav .container .hotline span a:hover,
header .over-nav .container .consulting span a:hover {
  opacity: 0.8;
}

nav {
  width: 100%;
  height: 100%;
  height: 7rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
}

.navbar .logo a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 7rem;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 1.4rem;
  color: var(--Gray-800, #040f3e);
}

nav .navbar .links li:hover {
  color: var(--Primary-800, #ef5627);
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  font-size: 1.8rem;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /*background: red;
  */
  height: 100%;
  width: 2.2rem;
  line-height: 7rem;
  text-align: center;
  display: inline-block;
  color: var(--Gray-800, #040f3e);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 7rem;
  left: 0;
  line-height: 4rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.4rem 0.4rem;
  display: none;
  z-index: 2;
  -webkit-border-radius: 0 0 0.4rem 0.4rem;
  -moz-border-radius: 0 0 0.4rem 0.4rem;
  -ms-border-radius: 0 0 0.4rem 0.4rem;
  -o-border-radius: 0 0 0.4rem 0.4rem;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 2.2rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  color: var(--Gray-800, #040f3e);
}

.navbar .links li .sub-menu li:hover {
  color: var(--Primary-800, #ef5627);
}

.navbar .links li .sub-menu a {
  color: inherit;
  font-size: 1.5rem;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 4rem;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  z-index: 1;
  display: none;
  -webkit-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -moz-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -ms-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -o-border-radius: 0 0.4rem 0.4rem 0.4rem;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width: 920px) {
  nav .navbar .logo a {
    font-size: 2.7rem;
  }
  nav .navbar .links li {
    padding: 0 1rem;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  nav {
    /* position: relative; */
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 27rem;
    width: 100%;
    background: #fff;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 2.5rem;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 2.5rem;
    color: var(--Gray-800, #040f3e);
  }
  nav .navbar .links {
    display: block;
    margin-top: 2rem;
  }
  nav .navbar .links li .arrow {
    line-height: 4rem;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
}
#hero_section .hero-banner {
  position: relative;
}
#hero_section .hero-banner .banner-btn {
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  gap: 2rem;
  align-items: center;
}
#hero_section .hero-banner .banner-btn .trial-btn {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  background: var(--Gradient-2, linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%));
  /*1*/
  box-shadow: 0px 4px 5.8px 0px rgba(237, 72, 41, 0.3);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
#hero_section .hero-banner .banner-btn .free-consulation-btn {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--Gradient-2, #f37b20);
  background: var(--Primary-300, #fdeee9);
}
#hero_section .hero-banner .banner-btn .free-consulation-btn div {
  background: var(--Gradient-2, linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Sub2/18/Semi */
  font-size: 1.8rem;
}
#hero_section .hero-banner .banner-btn .playvideo-btn {
  color: var(--white, #fff);
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#slogan {
  padding: 8rem 0;
  background: var(--Primary-400, #facbbc);
}
#slogan .slogan-title {
  color: var(--Primary-800, #ef5627);
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
#slogan .slogan-btn {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
#slogan .slogan-btn .esb-second-btn {
  background: #fff;
}

#esb_video {
  padding: 8rem 0;
}
#esb_video #VisaChipCardVideo {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 50rem;
}

#esb_for_all {
  padding: 8rem 0;
  background: var(--Primary-300, #fdeee9);
}
#esb_for_all .for-all-right {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
#esb_for_all .for-all-right .for-all-box {
  padding: 2.5rem 5rem;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

#esb_complete_solutions {
  padding: 8rem 0;
}
#esb_complete_solutions .solution-getdemo {
  width: 18%;
  display: block !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;
}
#esb_complete_solutions .list-solution {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
#esb_complete_solutions .list-solution .solution-active {
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#esb_complete_solutions .list-solution .solution-click {
  color: var(--Gray-800, #040f3e);
  font-family: "Averta-regular";
  font-size: 1.6rem;
  line-height: 2.8rem;
  cursor: pointer;
}
#esb_complete_solutions .list-solution .solution-click:hover {
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#esb_complete_solutions .solution-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#esb_complete_solutions .solution-box .solution-row {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
#esb_complete_solutions .solution-box .solution-row .solution-name {
  color: var(--Orange-4, #e9580c);
  font-size: 2.4rem;
}
#esb_complete_solutions .solution-box .solution-des {
  color: var(--Gray-900, #030b2c);
  font-family: "Averta-regular";
  font-size: 1.6rem;
  line-height: 28px; /* 175% */
}
#esb_complete_solutions .solution-box .solution-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#esb_all_in_one {
  padding: 8rem 0;
  background: var(--Primary-300, #fdeee9);
}
#esb_all_in_one .allInOne-box {
  display: flex;
  padding: 2.4rem 6.1rem 2.4rem 2.4rem;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 0.1rem solid var(--Primary-600, #f48e6e);
  background: #fff;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
}
#esb_all_in_one .allInOne-box:hover {
  border: 1px solid var(--Primary-600, #f48e6e);
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
}
#esb_all_in_one .allInOne-box:hover .allInOne-detail img {
  border: 1px solid #fff;
}
#esb_all_in_one .allInOne-box:hover .allInOne-name {
  color: #fff !important;
}
#esb_all_in_one .allInOne-box:hover .allInOne-more {
  color: #fff !important;
  -webkit-text-fill-color: inherit;
}
#esb_all_in_one .allInOne-box .allInOne-detail {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: start;
}
#esb_all_in_one .allInOne-box .allInOne-detail img {
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  padding: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#esb_all_in_one .allInOne-box .allInOne-detail .allInOne-name {
  color: var(--Gray-800, #040f3e);
  font-size: 1.6rem;
}
#esb_all_in_one .allInOne-box .allInOne-more {
  /* Sub1/16/Re */
  font-family: "Averta-regular";
  font-size: 1.6rem;
  background: var(--Gradient, linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

#esb_partner {
  padding: 8rem 0;
}
#esb_partner .scroller[data-animated=true] {
  overflow: hidden;
}
#esb_partner .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#esb_partner .scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
#esb_partner .scroller[data-direction=right] {
  --_animation-direction: reverse;
}
#esb_partner .scroller[data-direction=left] {
  --_animation-direction: forwards;
}
#esb_partner .scroller[data-speed=fast] {
  --_animation-duration: 20s;
}
#esb_partner .scroller[data-speed=slow] {
  --_animation-duration: 60s;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
#esb_partner .tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
#esb_partner .tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

#partner_easydocs {
  padding: 8rem 0;
}
#partner_easydocs img {
  max-width: 100%;
}
#partner_easydocs .scroller[data-animated=true] {
  overflow: hidden;
}
#partner_easydocs .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#partner_easydocs .scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
#partner_easydocs .scroller[data-direction=right] {
  --_animation-direction: reverse;
}
#partner_easydocs .scroller[data-direction=left] {
  --_animation-direction: forwards;
}
#partner_easydocs .scroller[data-speed=fast] {
  --_animation-duration: 20s;
}
#partner_easydocs .scroller[data-speed=slow] {
  --_animation-duration: 60s;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
#partner_easydocs .tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
#partner_easydocs .tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

#esb_feedback {
  padding-bottom: 50px;
}
#esb_feedback .feedback-getadvice {
  width: 18%;
  display: block !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  cursor: pointer;
}
#esb_feedback .feedback-box {
  padding: 15px;
  border-radius: 16px;
  background: var(--Primary-300, #fdeee9);
  height: 100%;
}
#esb_feedback .feedback-box .feedback-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #fff;
  padding: 16px;
  height: 100%;
}
#esb_feedback .feedback-box .feedback-info img {
  max-width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#esb_feedback .feedback-box .feedback-info .feedback-position {
  color: var(--Gray-700, #363f65);
  text-align: center;
  line-height: 18px; /* 150% */
  font-size: 12px;
  font-family: Averta-regular;
}
#esb_feedback .feedback-box .feedback-info .feedback-detail {
  color: var(--Gray-900, #030b2c);
  font-family: Averta-regular;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 28px; /* 175% */
}
#esb_feedback .feedback-box .feedback-info .five-star {
  margin-top: auto;
}

/*# sourceMappingURL=style.css.map */
