/* Googlefont Poppins CDN Link */
@font-face {
  font-family: Averta-bold;
  src: url(../font/averta/Intelligent\ Design\ -\ AvertaStdCY-Bold_1.otf);
}
@font-face {
  font-family: Averta-regular;
  src: url(../font/averta/Intelligent\ Design\ -\ AvertaStdCY-Regular_3.otf);
}

$section_distance: 8rem;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta-bold;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  padding-top: 11rem;
}
// Button Chung
.esb-primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    background: var(
      --Gradient-2,
      linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%)
    );
    box-shadow: 0px 4px 5.8px 0px rgba(237, 72, 41, 0.3);
    color: #fff;
    font-size: 1.8rem;
  }
}
.esb-second-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--Gradient-2, #f37b20);
    background: var(--Primary-300, #fdeee9);
    font-size: 1.8rem;
    background: var(
      --Gradient-2,
      linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
// Title
.esb-title {
  color: var(--Primary-800, #ef5627);
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 4rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .over-nav {
    background: var(
      --Gradient,
      linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
    );
    height: 4rem;
    .container {
      display: flex;
      gap: 2rem;
      align-items: center;
      line-height: 4rem;
      color: #fff;
      .hotline,
      .consulting {
        font-size: 1.4rem;
      }
      .hotline span,
      .consulting span {
        background-color: #fff;
        padding: 0.4rem 1.6rem;
        margin-left: 0.8rem;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }
      .hotline span a,
      .consulting span a {
        background: var(
          --Gradient,
          linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        img {
          margin-right: 0.8rem;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
nav {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  width: 100%;
  height: 100%;
  height: 7rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  //   z-index: 99;
}
nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
}
.navbar .logo a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 7rem;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 1.4rem;
  color: var(--Gray-800, #040f3e);
}
nav .navbar .links li:hover {
  color: var(--Primary-800, #ef5627);
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  font-size: 1.8rem;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /*background: red;
  */
  height: 100%;
  width: 2.2rem;
  line-height: 7rem;
  text-align: center;
  display: inline-block;
  color: var(--Gray-800, #040f3e);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 7rem;
  left: 0;
  line-height: 4rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.4rem 0.4rem;
  display: none;
  z-index: 2;
  -webkit-border-radius: 0 0 0.4rem 0.4rem;
  -moz-border-radius: 0 0 0.4rem 0.4rem;
  -ms-border-radius: 0 0 0.4rem 0.4rem;
  -o-border-radius: 0 0 0.4rem 0.4rem;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 2.2rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  color: var(--Gray-800, #040f3e);
}
.navbar .links li .sub-menu li:hover {
  color: var(--Primary-800, #ef5627);
}
.navbar .links li .sub-menu a {
  color: inherit;
  font-size: 1.5rem;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 4rem;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  z-index: 1;
  display: none;
  -webkit-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -moz-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -ms-border-radius: 0 0.4rem 0.4rem 0.4rem;
  -o-border-radius: 0 0.4rem 0.4rem 0.4rem;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav {
    /* position: relative; */
  }
  header .over-nav {
    display: none;
  }
  body {
    padding-top: 7rem;
  }

  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 27rem;
    width: 100%;
    background: #fff;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 2.5rem;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 2.5rem;
    color: var(--Gray-800, #040f3e);
  }
  nav .navbar .links {
    display: block;
    margin-top: 2rem;
  }
  nav .navbar .links li .arrow {
    line-height: 4rem;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
  }
}

// Section trang Index

#hero_section {
  .hero-banner {
    position: relative;
    .banner-btn {
      position: absolute;
      bottom: 20%;
      left: 10%;
      display: flex;
      gap: 2rem;
      align-items: center;
      .trial-btn {
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        background: var(
          --Gradient-2,
          linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%)
        );
        /*1*/
        box-shadow: 0px 4px 5.8px 0px rgba(237, 72, 41, 0.3);
        color: #fff;
        font-size: 1.8rem;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }
      .free-consulation-btn {
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid var(--Gradient-2, #f37b20);
        background: var(--Primary-300, #fdeee9);

        div {
          background: var(
            --Gradient-2,
            linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          /* Sub2/18/Semi */
          font-size: 1.8rem;
        }
      }
      .playvideo-btn {
        color: var(--white, #fff);
        font-size: 1.8rem;
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }
}
#slogan {
  padding: $section_distance 0;
  background: var(--Primary-400, #facbbc);
  .slogan-title {
    color: var(--Primary-800, #ef5627);
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }
  .slogan-btn {
    display: flex;
    gap: 2rem;
    justify-content: center;
    .esb-primary-btn {
      div {
        width: 100%;
      }
    }
    .esb-second-btn {
      div {
        background: #fff;
        width: 100%;
        span {
          background: var(--Primary-300, #fdeee9);
          background: var(
            --Gradient-2,
            linear-gradient(269deg, #f37b20 0.55%, #ec3e2b 56.04%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
#esb_video {
  padding: $section_distance 0;
  #VisaChipCardVideo {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50rem;
  }
}
#esb_for_all {
  padding: $section_distance 0;
  background: var(--Primary-300, #fdeee9);
  .for-all-right {
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
    justify-content: center;
    .for-all-box {
      padding: 2.5rem 5rem;
      border-radius: 8px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.6rem;
    }
  }
}
#esb_complete_solutions {
  padding: $section_distance 0;
  .solution-getdemo {
    margin-bottom: 4rem;
    cursor: pointer;
  }
  .list-solution {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    .solution-active {
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .solution-click {
      color: var(--Gray-800, #040f3e);
      font-family: "Averta-regular";
      font-size: 1.6rem;
      cursor: pointer;
      h3 {
        color: var(--Gray-800, #040f3e);
        font-family: "Averta-regular";
        font-size: 1.6rem;
      }
    }
    .solution-click:hover {
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .solution-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .solution-row {
      display: flex;
      gap: 1.6rem;
      align-items: center;
      .solution-name {
        color: var(--Orange-4, #e9580c);
        font-size: 2.4rem;
      }
    }
    .solution-des {
      color: var(--Gray-900, #030b2c);
      font-family: "Averta-regular";
      font-size: 1.6rem;
      line-height: 2.8rem; /* 175% */
    }
    .solution-btn {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
#esb_all_in_one {
  padding: $section_distance 0;
  background: var(--Primary-300, #fdeee9);
  .allInOne-box {
    &:hover {
      border: 1px solid var(--Primary-600, #f48e6e);
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      .allInOne-detail img {
        border: 1px solid #fff;
      }
      .allInOne-name {
        color: #fff !important;
      }
      .allInOne-more {
        color: #fff !important;
        -webkit-text-fill-color: inherit;
      }
    }
    display: flex;
    padding: 2.4rem 6.1rem 2.4rem 2.4rem;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border: 0.1rem solid var(--Primary-600, #f48e6e);
    background: #fff;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    .allInOne-detail {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: start;
      img {
        background: var(
          --Gradient,
          linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
        );
        padding: 0.8rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .allInOne-name {
        color: var(--Gray-800, #040f3e);
        font-size: 1.6rem;
      }
    }

    .allInOne-more {
      /* Sub1/16/Re */
      font-family: "Averta-regular";
      font-size: 1.6rem;
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: auto;
    }
  }
}
#esb_partner {
  padding: $section_distance 0;
  .scroller[data-animated="true"] {
    overflow: hidden;
  }
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }

  .tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }
}

#partner_easydocs {
  padding: $section_distance 0;
  img {
    max-width: 100%;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
  }
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }

  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }

  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }

  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }

  .tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }
}
#esb_feedback {
  padding-bottom: 5rem;
  .feedback-getadvice {
    margin-bottom: 4rem;
    cursor: pointer;
  }
  .feedback-box {
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--Primary-300, #fdeee9);
    height: 100%;
    .feedback-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      border-radius: 8px;
      background: #fff;
      padding: 1.6rem;
      height: 100%;
      img {
        max-width: 30%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .feedback-name {
      }
      .feedback-position {
        color: var(--Gray-700, #363f65);
        text-align: center;
        line-height: 1.8rem; /* 150% */
        font-size: 1.2rem;
        font-family: Averta-regular;
      }
      .feedback-detail {
        color: var(--Gray-900, #030b2c);
        font-family: Averta-regular;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.8rem; /* 175% */
      }
      .five-star {
        margin-top: auto;
      }
    }
  }
}
#outstanding_news {
  padding: $section_distance 0;
  background: var(--Primary-300, #fdeee9);
  .outstanding-news-box {
    padding: 1.6rem 1.6rem 3.2rem 1.6rem;
    border-radius: 16px;
    background: #fff;
    height: 100%;
    .outstanding-news-detail {
      .news-name {
        color: var(--Gray-800, #040f3e);
        font-size: 2.4rem;
        margin-top: 1.6rem;
      }
      .news-des {
        color: var(--Gray-600, #575e7e);
        font-family: "Averta-regular";
        font-size: 1.6rem;
      }
    }
    .by-line {
      color: var(--Secondary-1, #172d58);
      font-size: 1.6rem;
      font-family: "Averta-regular";
      margin-top: 4.5rem;
      .news-author {
        color: var(--Secondary-1, #172d58);
        font-size: 1.6rem;
      }
      .news-datetime {
        color: var(--Gray-4, #9ba3b1);
        font-size: 1.6rem;
      }
    }
  }
  .esb-primary-btn {
    margin: 4rem auto 0;
  }
}
#esb_form_register {
  padding: $section_distance 0;
  .heading {
    color: var(--Gray-800, #040f3e);
    font-size: 2.4rem;
    span {
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .list-why {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 2.4rem;
    li {
      div {
        color: var(--Gray-800, #040f3e);
        font-family: "Averta-regular";
        font-size: 1.6rem;
        span {
          font-family: "Averta-bold";
        }
      }
      display: flex;
      gap: 1.6rem;
      align-items: center;
    }
  }
  .form-register .form-box {
    display: flex;
    padding: 3.2rem;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    border-radius: 1.6rem;
    background: var(
      --Gradient,
      linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
    );
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    .form-title {
      color: #fff;
      font-size: 1.8rem;
    }
    .form-info {
      width: 100%;
      border-radius: 1.2rem;
      background: #fff;
      display: flex;
      padding: 2.4rem;
      flex-direction: column;
      gap: 1.6rem;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -ms-border-radius: 1.2rem;
      -o-border-radius: 1.2rem;
      .form-row input,
      .form-row select {
        padding: 0.8rem 0 0.8rem 1.6rem;
        border-radius: 0.6rem;
        border: 1px solid var(--Gray-300, #e6e7ec);
        background: #fff;
        color: var(--Gray-700, #363f65);
        font-family: "Averta-regular";
        font-size: 1.8rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }
    }
  }
  .esb-primary-btn {
    border: none;
    width: 100%;
    margin-top: 2rem;
    background: none;
  }
}
#footer {
  padding: $section_distance 0;
  background: var(--Gray-800, #040f3e);
  .logoes-footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .footer-col-left {
    display: inline-flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
    .footer-slogan {
      /* Sub1/16/Bold */
      font-size: 1.6rem;
      background: var(
        --Gradient,
        linear-gradient(180deg, #f37b20 0%, #ec3e2b 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      li {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        color: var(--white, #fff);
        font-family: "Averta-regular";
        font-size: 1.4rem;
      }
    }
  }
  .footer-list-sns {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }
  .all-product {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    padding: 0.8rem 1.8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .all-product-show {
      position: absolute;
      background: #fff;
      bottom: 130%;
      left: 0;
      width: 100rem;
      padding: 3rem 5rem;
      border-radius: 10px;
      display: none;
      border: 1px solid #ccc;
      .all-product-box {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
        .all-product-col {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .all-product-nav-title {
            color: var(--Gray-800, #040f3e);
            font-size: 1.8rem;
          }
          .list-software {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .software-row {
        padding: 1rem;
        gap: 2rem;
        &:hover {
          background: var(--primary-5, #fdeee9);
        }
        .software {
          .software-title {
            color: var(--Gray-800, #040f3e);
          }
          .software-des {
            color: var(--Gray-900, #030b2c);
            font-family: Averta-regular;
          }
        }
      }
    }
  }
  .arrow-up {
    transform: rotate(180deg);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
  .arrow-down {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }
  .footer-col-heading {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Averta-regular";
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  .list-title-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    li {
      color: #fff;
      font-size: 1.6rem;
    }
  }
  .footer-credit {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
}

// Section trang chuc nang

.main-title {
  background-image: url(../img/main-title-background.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  .main-title-heading {
    color: #fff;
    text-shadow: 0px 0px 8.1px rgba(255, 255, 255, 0.4);
    font-size: 3.6rem;
  }
  .main-title-sub {
    color: #fff;
    font-size: 1.8rem;
  }
}

.easybooks_chucnang {
  .list-function {
    .function-row {
      padding: 5rem 0;
      .function-info {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .function-name {
          color: var(--Orange-4, #e9580c);
          font-size: 2.4rem;
          display: flex;
          gap: 1.6rem;
          align-items: center;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          padding-left: 5%;
          li {
            list-style: inherit;
            color: var(--Gray-800, #040f3e);
            font-family: "Averta-regular";
            font-size: 1.6rem;
          }
        }
        .funtion-list-btn {
          display: flex;
          gap: 2rem;
        }
      }
    }
    .function-even-row {
      background: var(--Primary-300, #fdeee9);
      .row {
        flex-direction: row-reverse;
      }
    }
  }
}

/* Responsive */

/*Màn to(>1600px)*/
@media screen and (min-width: 1600px) {
  .easybooks_chucnang .list-function .function-row {
    padding: 8rem 0;
  }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  nav .navbar .links li a {
    font-size: 1.6rem;
  }
  #slogan,
  #esb_video,
  #esb_for_all,
  #esb_complete_solutions,
  #esb_all_in_one,
  #esb_partner,
  #esb_feedback,
  #outstanding_news,
  #esb_form_register,
  #footer {
    padding: 4rem 0;
  }
  #slogan .slogan-title {
    font-size: 2.4rem;
  }
  .esb-title {
    font-size: 2.2rem;
  }

  #esb_complete_solutions .list-solution {
    flex-wrap: wrap;
    gap: 2rem;
  }
  #esb_complete_solutions .list-solution .solution-click {
    padding: 1rem;
    border: 1px solid #ccc;
    width: 30%;
  }
  #outstanding_news .outstanding-news-box {
    padding: 1.4rem 1.4rem 2rem 1.4rem;
  }
  #outstanding_news .outstanding-news-box .outstanding-news-detail .news-name {
    font-size: 2rem;
  }
  #esb_form_register .heading {
    font-size: 1.8rem;
    text-align: center;
  }
  #esb_form_register .form-register .form-box {
    padding: 2rem 1rem;
  }
  #esb_form_register .form-register .form-box {
    gap: 1rem;
  }
  #esb_form_register .form-register .form-box .form-info .form-row input,
  #esb_form_register .form-register .form-box .form-info .form-row select {
    font-size: 1.4rem;
  }
  #footer .all-product .all-product-show {
    width: 90rem;
  }
  #hero_section .hero-banner .banner-btn {
    display: none;
  }
  #esb_video #VisaChipCardVideo {
    width: 90%;
    height: 50rem;
  }
  .easybooks_chucnang
    .list-function
    .function-row
    .function-info
    .function-name {
    font-size: 2rem;
  }
  .easybooks_chucnang .list-function .function-row .function-info ul li {
    font-size: 1.4rem;
  }
  .easybooks_chucnang .list-function .function-row .function-info ul {
    gap: 1rem;
  }
  .easybooks_chucnang .list-function .function-row .function-info {
    gap: 2rem;
  }
  .easybooks_chucnang
    .list-function
    .function-row
    .function-info
    .funtion-list-btn {
    padding-left: 4%;
    .esb-primary-btn,
    .esb-second-btn {
      div {
        font-size: 1.4rem;
      }
    }
  }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  #slogan,
  #esb_video,
  #esb_for_all,
  #esb_complete_solutions,
  #esb_all_in_one,
  #esb_partner,
  #esb_feedback,
  #outstanding_news,
  #esb_form_register,
  #footer {
    padding: 2rem 0;
  }
  .flex-reverse-mobile {
    flex-direction: column-reverse;
  }
  nav .navbar {
    flex-direction: row-reverse;
  }
  #esb_complete_solutions .list-solution .solution-click {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .esb-title {
    margin-bottom: 2rem;
  }

  #footer .all-product .all-product-show {
    width: 100%;
    padding: 0;
  }
  #footer .all-product .all-product-show .all-product-box {
    padding: 1rem;
  }
  #footer .all-product .all-product-show .all-product-box .all-product-col {
    gap: 0;
  }
  #footer .all-product .all-product-show .all-product-box {
    gap: 1rem;
  }

  #esb_video #VisaChipCardVideo {
    height: 33rem;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  #slogan .slogan-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #slogan .slogan-btn {
    flex-direction: column;
    gap: 1rem;
  }
  .esb-primary-btn,
  .esb-second-btn {
    div {
      font-size: 1.6rem;
      padding: 0.5rem 2rem;
    }
  }
  .esb-title {
    font-size: 2rem;
  }
  #esb_for_all .for-all-right {
    gap: 1rem;
  }

  #esb_complete_solutions .list-solution {
    margin-bottom: 1rem;
    gap: 1rem;
    .solution-click {
    }
  }
  #esb_all_in_one .allInOne-box {
    padding: 1rem;
  }
  .width50ptmobile {
    width: 50%;
  }

  #footer .footer-credit {
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
  }
  .easybooks_chucnang .list-function .function-row {
    padding: 2rem 0;
  }
  .main-title {
    height: 18rem;
  }
  .main-title .main-title-heading {
    font-size: 3rem;
  }
  .main-title .main-title-sub {
    font-size: 1.6rem;
  }
}
