/* Googlefont Poppins CDN Link */
@font-face {
    font-family: SVN-Gilroy-bold;
    src: url(../font/FontGilroyVHFull/SVN-Gilroy\ SemiBold.otf);
  }
  @font-face {
    font-family: SVN-Gilroy-regular;
    src: url(../font/FontGilroyVHFull/SVN-Gilroy\ Regular.otf);
  }
  
  $section_distance: 5rem;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SVN-Gilroy-bold;
  }
  html {
    font-size: 62.5%;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }